@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff") format("woff2"),
       url("Lato-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"),
       url("Lato-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"),
       url("Lato-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
header{
   min-width: 810px;;
   width: 80%;
   margin: 0 auto;
   text-align: center;
}
header>span{
   font-weight: 900;
   font-size: 46px;
   color: #1E212C;
}
header>span:hover{
   text-transform: uppercase;
   border-bottom: 1px solid #000;
   font-weight: 900;
   font-size: 46px;
   color: #eb580f;
}
span{
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
}
.info{
   max-width: 810px;;
   width: 80%;
   margin: 0 auto;
}
.h2{
   margin: 92px 0;
   padding-right: 60px;
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   align-items: center;
}

.photo>img{
   width: 100%;
}
.info>.first__span{
   margin: 60px 0 24px;
}
.info__text>p{
   margin: 20px 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
}
.info__lorem>p>span{
   display: inline-block;
   padding: 48px 0 48px 58px;
}
.info__lorem>p{
   margin: 20px 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
}
.info__lorem>ul{
   padding: 24px 0 24px 35px;

}
.info__lorem>ul>li{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   padding-bottom: 5px;
}



.i__am-sorry{
   max-width: 100%;
   background-color: rgb(197, 190, 190);
   padding: 40px;
}

.text{
   padding: 10px;
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.6;
   width: 30%;
   background-color: rgb(228, 228, 228);
   color: rgb(0, 0, 0);
   border: 1px solid #1E212C;
   border-radius: 21% 79% 20% 80% / 23% 76% 24% 77%;
   box-shadow:  42px 25px 70px -5px rgb(114, 110, 155);
}

.text__red {
   padding: 10px;
   margin: 0 0 10px 150px;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.6;
   width: 30%;
   background-color: rgb(221, 3, 3);
   color: rgb(28, 15, 213);
   border: 1px solid #1E212C;
   border-radius: 21% 79% 20% 80% / 23% 76% 24% 77%;
   box-shadow:  42px 25px 70px -5px rgba(156, 236, 153, 1);
}

.text__blue {
   padding: 10px;
   margin: 0 0 10px 250px;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.6;
   width: 30%;
   background-color: rgb(57, 46, 141);
   color: rgb(123, 89, 120);
   border: 1px solid #1E212C;
   border-radius: 21% 79% 20% 80% / 23% 76% 24% 77%;
   box-shadow:  42px 25px 70px -5px rgb(213, 162, 125);
}

.text__orange {
   padding: 10px;
   margin: 0 0 10px 350px;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.6;
   width: 30%;
   background-color: rgb(214, 130, 46);
   color: rgb(71, 111, 148);
   border: 1px solid #1E212C;
   border-radius: 21% 79% 20% 80% / 23% 76% 24% 77%;
   box-shadow:  42px 25px 70px -5px rgb(153, 176, 236);
}
.circle{
   width: 300px;
   height: 300px;
   background-color: rgb(174, 131, 131);
   border-radius: 50%;
   margin:0 auto ;
   box-shadow: 42px 25px 70px -5px rgb(85, 130, 244), inset 42px 25px 70px -5px rgb(10, 61, 136);
}

